* {
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 26, 26);
}

.beige {
    background-color: beige;
    height: 10vh;
}

.negro {
    background-color: black;
    height: 10vh;
}

.centrar {
    display: flex;
    justify-content: center;
}

